header{
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 32px;
}

.links a {
    text-shadow: 2px 2px 2px black;
    padding: 6px;
    transition: all 1s;
}
.links a:hover {
    background-color:#E62721 ;
}